@import "tailwindcss";



.fixed {
    @apply fixed top-0 left-0 right-0 z-50 shadow-2xl transition-all ease-in duration-300 rounded-b-2xl;
}
  
.active{
   @apply text-rose-500;
}

.fadeSlide{
    animation: fadeSlide 0.5s forwards;
  }
  
  @keyframes fadeSlide {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }